@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-scale {
    @apply scale-90 opacity-0;
    animation: fadeScale 0.3s ease forwards;
    -webkit-animation: fadeScale 0.3s ease forwards;
  }

  @keyframes fadeScale {
    to {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Cario", sans-serif;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
}
